/* ABOUT */
.parent-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0px 100px 0px 100px;
  height: auto;
  width: 100%;
}

.right-child {
  width: 65%;
  margin-top: 50px;
  max-height: auto;
  background: url("../images/about-us.jpg") no-repeat center;
  background-size: cover;
}

.left-child {
  width: 600px;
  padding-right: 100px;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #2d2d2d;
}

.page-title {
  margin-bottom: 25px;
  font-size: 44px;
}

.summary {
  font-size: 14px;
  color: #2d2d2d;
  line-height: 1.5rem;
}

.numbers {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.numbers > div {
  gap: 25px;
}

.numbers h1 {
  font-size: 44px;
  color: #2d2d2d;
}

.numbers span {
  font-weight: 500;
  font-size: 14px;
}
/* END OF ABOUT */
