/* Style the header */
.brands-section {
  margin: 0px 100px 0px 100px;
}
.brands-header {
  background-color: rgb(246, 246, 246);
  padding: 0px 25px 0px 25px;
  text-align: center;
  font-size: 4rem;
  color: rgb(0, 0, 0);
}

/* Create two columns/boxes that floats next to each other */
.brands-nav {
  float: left;
  width: 20%;
  background-color: rgb(246, 246, 246);
  padding: 25px;
  align-items: center;
}
.brands-nav ul {
  margin-bottom: 25px;
}
.brands-nav ul li {
  font-size: 1rem;
  font-weight: 500;
}

/* Style the list inside the menu */
.brands-nav ul {
  list-style-type: none;
  padding: 0;
}

.brands-article {
  float: left;
  margin: 25px 0px 0px 25px;
}
.brands-products {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
}

/* Clear floats after the columns */
.brands-section::after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  .brands-nav,
  .brands-article {
    width: 100%;
    height: auto;
  }
}

.brand-product-list {
  margin: 25px 0px;
}

.brand-article-product {
  display: grid;
  grid-template-columns: 240px 240px 240px;
  gap: 25px;
}
