* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-size: 1rem;
}

/* LOADING */
.loading-text {
  font-size: 0.3rem;
}
/* END OF LOADING */

/* NAVIGATION BAR */

.navigation-bar {
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  width: 100%;
  gap: 50px;
  transition: 2s;
}

.navigation-bar.scrolled-down {
  transition: 2s;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.14);
}

.navigation-bar.scrolled-down img {
  transition: 0.5s;
  scale: 1.15;
}

.navigation-bar img {
  transition: 2s;
  height: 75%;
  width: auto;
  display: block;
  margin: 0;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.img-link {
  transition: 2s;
  height: 75%;
  width: auto;
  display: block;
  margin: 0;
  transform-origin: 0% 50%;
  transition: 0.3s;
}

.current {
  font-weight: 600;
}

.links a {
  color: #2d2d2d;
  text-decoration: none;
  font-size: 14px;
}
.links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  gap: 25px;
}

.links li {
  gap: 25px;
}

.cartItems {
  margin-left: 3px;
  font-weight: 600;
  font-size: 0.9rem;
}

/* SEARCH BOX */
.links .search {
  display: none;
}

.links li i:hover + .search,
.links li .search:hover {
  display: block;
}

/* END OF SEARCH BOX */

/* END OF NAVIGATION BAR */

/* FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
}

hr {
  border-color: #e0e0e0;
}
.footer-ul {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  gap: 50px;
  list-style: none;
}

.footer-ul a {
  margin: 0.1rem;
  text-decoration: none;
  color: #737373;
}

/* END OF FOOTER */

.hero {
  display: flex;
  height: 80vh;
  align-items: flex-end;
  background: linear-gradient(to top, black, transparent),
    url("../images/hero.jpg");
  margin: 50px 100px 100px 100px;
  border-radius: 25px;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.hero-main-title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  line-height: 3.5rem;
  margin-bottom: 25px;
}
.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-size: 14px;
}
.btn {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 30px 10px 30px;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.btn-secondary {
  color: #fff;
  background: none;
  border: 2px solid #fff;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
.btn-primary {
  color: #2d2d2d;
  background: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 25px 10px 30px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000;
}

/* FOOTER DETAILS */
.footer-details {
  padding: 50px 100px 25px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 14px;
}

.footer-title {
  font-weight: 600;
}

.website-summary {
  margin-right: 95px;
  width: 370px;
}

.website-summary p {
  margin-top: 25px;
  font-size: 12px;
}

.quick-links {
  margin-right: 95px;
}

.quick-links ol {
  margin-top: 25px;
}

.quick-links li {
  list-style: none;
}
.quick-links a {
  text-decoration: none;
  color: #2d2d2d;
  font-size: 12px;
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.help-information {
  margin-right: 95px;
  width: 250px;
}

.help-information ol {
  margin-top: 25px;
}
.help-information li {
  list-style: none;
}
.help-information a {
  text-decoration: none;
  color: #2d2d2d;
  font-size: 12px;
}

.newsletter input {
  margin-top: 15px;
  border-radius: 25px;
  border: 1px solid #b9b9b9;
  background-color: #9e9e9e31;
  padding: 15px 30px 15px 30px;
  width: 100%;
}

.newsletter p {
  margin-top: 25px;
  font-size: 12px;
}

/* NEWSLETTER PAGE */
.newsletter-page {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 75vh;
  width: auto;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
/* END OF NEWSLETTER PAGE */

.horizontal-rule {
  display: flex;
  flex-direction: row;
  margin: 0px 100px 0px 100px;
  height: 1px;
  background-color: #dedede;
}

/* END OF FOOTER DETAILS */

/* WINTER COLLECTION */

.winter-inner-section {
  margin: 0px 150px 0px 150px;
  display: grid;
  grid-template-columns: 50% 20% auto;
  height: 475px;
  justify-items: center;
  justify-content: space-evenly;
}

.winter-heading {
  font-size: 1.5rem;
  margin-bottom: 50px;
  margin: 0px 100px 50px 100px;
}
.winter-sub-heading {
  font-size: 0.9rem;
}

.new-release-div {
  height: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 50px 50px;
  border-radius: 8px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.724), transparent),
    url("../index/winter-collection-23-24-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.new-release-div {
  color: #fff;
}

.new-release-div p {
  font-size: 0.9rem;
  margin-bottom: 25px;
}

.new-release-buttons a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 25px 10px 30px;
  font-size: 0.9rem;
}
.mid-div {
  width: 150px;
  height: 100%;
  gap: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sweater-div {
  height: 225px;
  border-radius: 8px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 25px 25px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.724), transparent),
    url("../index/sweater-250x300.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sweater-div a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.jacket-div {
  height: 225px;
  border-radius: 8px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 25px 25px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.724), transparent),
    url("../index/index-jacket.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.jacket-div a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.trucker-div {
  height: 475px;
  width: 400px;
  border-radius: 8px;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 50px 50px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.724), transparent),
    url("../index/trucker-hat-akiba-model.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.trucker-div a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

/* END OF WINTER COLLECTION */

/* POPULAR THIS WEEK */
.popular-heading {
  font-size: 1.5rem;
  text-align: left;
  margin-top: 25px;
  margin: 100px 100px 25px 100px;
}

.popular-sub-heading {
  font-size: 0.9rem;
}

.popular {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin: 0px 100px 100px 100px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.popular div {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scroll-snap-align: start;
}

.addToCartBtn {
  margin-top: 25px;
  width: 100%;
  padding: 10px 25px 10px 30px;
  background: #393939;
  color: #fff;
  font-size: 0.8rem;
  border: none;
  border-radius: 25px;
  border: 1px solid #393939;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.addToCartBtn:hover {
  background: none;
  color: #393939;
  border-radius: 25px;
  border: 1px solid #393939;
  transition: 0.2s ease-in-out;
}
/* END OF POPULAR THIS WEEK */

/* SITE NUMBERS */
.site-numbers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

/* ARTICTE >> H2  */
.site-numbers h2 {
  font-size: 44px;
}

/* ARTICTE >> span  */
.site-numbers span {
  font-size: 14px;
}

/* END OF SITE NUMBERS */

/* NEW BLOG POSTS */

.index-blog-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 100px 200px 100px;
  gap: 50px;
}
/* Style for the LATEST BLOG article */
.index-blog-item:first-child {
  height: 450px;
}
.index-blog-item:first-child .index-blog-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
/* Style for OTHER BLOG articles */
.index-blog-item:not(:first-child) {
  width: 240px;
  height: 375px;
}
.index-blog-item:not(:first-child) .index-blog-other-image {
  width: 100%;
  height: 70%;
  border-radius: 8px;
}
.index-blog-item img {
  object-fit: cover;
  height: 375px;
  width: 250px;
  border-radius: 8px;
  justify-content: center;
}

/* Style for all blog titles */
.index-blog-title {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
  color: black;
  text-decoration: none;
}

.index-blog-title:hover {
  color: gray;
}

/* Style for all blog summaries */
.index-blog-summary {
  font-size: 14px;
  margin-top: 10px;
  color: gray;
  line-height: 1.5;
}

/* Style for the Read More button */
.read-more {
  font-weight: 600;
  font-size: 1.5rem;
  color: #2d2d2d;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 0px 100px 25px 0px;
}

.index-blog-keywords {
  margin-top: 15px;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
.index-blog-title {
  margin-bottom: 15px;
}
.index-blog-summary {
  font-size: 0.8rem;
  color: #2d2d2d;
}

.index-blog-summary a {
  text-decoration: none;
  color: #2d2d2d;
  font-weight: 500;
}

.blog-heading {
  margin-bottom: 50px;
  margin-left: 100px;
  margin-top: 50px;
}

.index-blog-keyword {
  font-size: 0.6rem;
}

.index-blog-title {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

/* END OF NEW BLOG POSTS */

/* HOT SALE */
/* SECTION */

.hot-sale {
  margin: 50px 100px 50px 100px;
  height: 300px;
  border-radius: 25px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.724), transparent),
    url("../index/hot-sale-image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* A */
.hot-sale-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding-left: 100px;
  font-size: 1.5rem;
}
/* END OF HOT SALE */

/* SHOP =================================================*/

/* END OF SHOP ==========================================*/

/* QUOTE */
.quote {
  height: 650px;
  width: 100%;
  margin-bottom: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/hot-sale/virgil-abloh-off-white-interview-22-dec-2020.jpg");
}

/* SCROLL */
.newsletter-scroll {
  width: 100%;
  text-decoration: none;
  color: rgb(149, 149, 149);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 100px;
  transition: 1s ease-in-out;
}
.newsletter-scroll:hover {
  transition: 1s ease-in-out;
  text-decoration-line: underline;
  color: #000;
}
/* END OF SCROLL */

.virgil-abloh-quote {
  display: flex;
  flex-direction: column;
  padding: 100px 0px 50px 100px;
  color: #fff;
  font-size: 3rem;
}
/* END OF QUOTE */

/* HELP */
.help {
  margin: -25px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.1rem;
  /* background-color: yellow; */
}

.help h3 {
  margin-bottom: 15px;
  margin-top: 25px;
}

.help h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 100px;
  margin-top: 100px;
}
/* END OF HELP */

/* ERROR */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 50px;
}

.error-container h1 {
  font-size: 10rem;
}
.error-container a {
  text-decoration: none;
  background-color: #2d2d2d;
  border-radius: 25px;
  color: #fff;
  padding: 15px 30px;
}
.error-container a:hover {
  background-color: #000;
}
/* END OF ERROR */

.definition {
  margin: 50px 100px 100px 100px;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.definition h1 {
  font-size: 15rem;
  margin-bottom: -45px;
}

.definition p {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.index-heading {
  font-size: 3rem;
}
