{% extends 'base.html' %} {% block body %}
<div class="col-md-8">
        <div class="h4">Add Product</div>
        <div class="form">
          <form method="POST">
            {% csrf_token %}

            <!-- submit product info -->
            <div class="form-row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Name Of Product"
                />
              </div>
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  id="shop"
                  name="shop"
                  placeholder="Nike, Akiba, Reebok"
                />
              </div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="description"
                name="description"
                placeholder="Description"
              />
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="keywords">Keywords</label>
                <input
                  type="text"
                  class="form-control"
                  id="keywords"
                  name="keywords"
                  placeholder="Summer, Dinner Dress"
                />
              </div>
            </div>

            <div class="row col-md-12">
                <input type="file" accept=".jpg, .png" class="form-control" name="image" id="image" />
              </div>
            </div>
            <div class="price-row">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control"
                id="price"
                name="price"
                placeholder="$0.00"
              />
            </div>
            <button type="submit" class="btn btn-primary">Add Product</button>
          </form>
        </div>
      </div>
</div>
{% endblock %}
