{% extends 'base.html' %} {% load static %} {% block body %}
<section class="brands-section">
  <header class="brands-header">
    <h1 style="font-size: 3rem">Discover Brands</h1>
  </header>

    <nav class="brands-nav">
      <h2>Brands</h2>
      <ul>
        {% for brand in brands_list %}
        <li class="underline">{{ brand }}</li>
        {% endfor %}
      </ul>
      <hr>
      <h2  style="margin-top: 25px;">Categories</h2>
      <ul>
        <li class="underline">Hats</li>
        <li class="underline">Jackets</li>
        <li class="underline">Pants</li>
        <li class="underline">Shirts</li>
        <li class="underline">Tops</li>
        <li class="underline">Sweaters</li>
        <li class="underline">Blogs</li>
      </ul>
    </nav>

    <article class="brands-article">
      <h3 style="margin-bottom: 25px;">Latest from Akiba Studios</h3>

      <!-- Blog List -->
      <div class="brands-blog">
        {% for blog in blogs|slice:":1" %}
        <div>
          {% if blog.youtube %}
          <iframe

            src="https://www.youtube.com/embed/XppZqa0BtoQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
          {% endif %}
        </div>
        <span
            ><a style="margin-top: 25px; text-decoration:none; color:inherit;" class="blog-title underline" href="{% url 'blog_detail' pk=blog.pk %}">{{ blog.title }} ||
              Read more</a
            ></span
          >
        {% endfor %}
      </div>
      <!-- End of Blog List -->
      <!-- Product List -->
      <div class="brand-product-list">
        <h3 style="margin-bottom: 25px;">SS23' Lukubook</h3>
        <hr  style="margin-bottom: 25px;">
        <div class="brand-article-product">
          {% for product in products|slice:"14:20" %}
          <div>
            <a class="product-view-link" href="{% url 'product_detail' product.pk %}">
              <img class="thumbnail" src="{{ product.imageURL }}" alt="" />
              <hr style="margin: 10px 0px 10px 0px;" />
              <div>
                <h3>{{ product.name }}</h3></a>
                <p class="description">{{ product.description }}</p>
                <h4 class="product-details-group">
                Price: 
                € {{ product.price }}<i class="wishlist fa-regular fa-heart"></i>
                </h4>
              </div>
              <button 
                  data-product="{{ product.pk }}"
                  data-action="add"
                  class="add-btn update-cart addToCartBtn"
                >
                Add to <i class="fa-solid fa-cart-shopping"></i>
              </button>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- end of product list -->
    </article>
  </section>

  {% endblock %}
</section>
