{% extends 'base.html' %} {% load static %} {% block body %}

<div
  style="margin-top: 5rem !important; margin-bottom: 5rem !important"
  class="container"
>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Actions</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
              src="{{ item.product.imageURL }}"
              alt="{{ item.product.name }}"
              style="width: 45px; height: 45px; border-radius: 8px"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">{{ item.product.name }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">€ {{ item.product.price }}</p>
          <p class="text-muted mb-0">x {{ item.quantity }}</p>
        </td>
        <td>
          <button
            data-product="{{ item.product.id }}"
            data-action="remove"
            class="update-cart btn btn btn-danger"
          >
            <i class="fa-solid fa-minus update-cart"></i>
          </button>
          <button
            data-product="{{ item.product.id }}"
            data-action="add"
            class="update-cart btn btn-success"
          >
            <i class="fa-solid fa-plus"></i>
          </button>
        </td>
        <td>
          <p class="fw-normal mb-1">€{{ item.get_total }}</p>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div style="margin-top: 2.5rem" class="col">
    <a class="btn btn-dark float-end" href="{% url 'checkout' %}"
      >Proceed to checkout</a
    >
  </div>
</div>

{% endblock %}
