{% extends 'base.html' %} {% load static %} {% block body %}
<section>
  <header class="cart-bread-crumbs">
    <div class="cart-top">
      <h3 class="checkout-current">Cart Summary</h3>
      <a class="checkout-button" href="{% url 'checkout' %}"
        >Checkout &#8594;</a
      >
    </div>

    <ol class="cart-navigation">
      <li>
        <p class="underline current">1. Cart Summary</p>
      </li>
      <li>
        <a class="underline" href="{% url 'checkout' %}"
          >2. Shipping Information</a
        >
      </li>
      <li>
        <p>3. Select Payment Method</p>
      </li>
      <li>
        <p>4. Order Confirmation</p>
      </li>
    </ol>
  </header>

  <div class="cart-header">
    <h4>Total Items: {{ cartItems }}</h4>
    <h4>Total: €{{ order.get_cart_total }}</h4>
  </div>

  <div class="cart-sum">
    <table>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
      {% for item in items %}
      <tr>
        <td>
          <img class="order-image" src="{{ item.product.imageURL }}" alt="" />
        </td>
        <td>{{ item.product.name }} <br />€{{ item.product.price }}</td>
        <td>
          <!-- quantity -->
          <div class="order-quantity">
            <i
              data-product="{{ item.product.id }}"
              data-action="remove"
              class="fa-solid fa-minus update-cart"
            ></i>
            <p>{{ item.quantity }}</p>
            <i
              data-product="{{ item.product.id }}"
              data-action="add"
              class="fa-solid fa-plus update-cart"
            ></i>
          </div>
          <!-- end of quantity -->
        </td>
        <td>€{{ item.get_total }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
{% endblock %}
