{% extends 'base.html' %} {% load static %} {% block body %}

<!-- NAVIGATION -->
<!-- END OF NAVIGATION -->
<header class="cart-bread-crumbs">
  <p id="checkout-current" class="checkout-current">Shipping Information</p>
  <ol class="cart-navigation">
    <li>
      <a class="underline" href="{% url 'cart' %}">1. Cart Summary</a>
    </li>
    <li>
      <p id="digital-false" class="underline current">
        2. Shipping Information
      </p>
    </li>
    <li>
      <p id="digital-true" class="underline">3. Select Payment Method</p>
    </li>
    <li>
      <p class="underline">4. Confirm Order</p>
    </li>
  </ol>
</header>

<!-- FORM -->
<div class="box-element" id="form-wrapper">
  <form class="form" id="form">
    {% csrf_token %}
    <div style="margin-top: 15px" id="user-info">
      <div style="margin-top: 15px" class="form-field">
        <input
          required
          class="form-control"
          type="text"
          name="name"
          placeholder="Name"
        />
      </div>
      <div class="form-field">
        <input
          required
          type="email"
          class="form-control"
          placeholder="Email"
          name="email"
        />
      </div>
    </div>

    <div id="shipping-info">
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="country"
          placeholder="Country"
          required
        />
      </div>
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="city"
          placeholder="City.."
          required
        />
      </div>
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="address"
          placeholder="Address.."
          required
        />
        <input
          class="form-control"
          type="text"
          name="zipcode"
          placeholder="Zip code.."
        />
      </div>
      <div class="form-field">
        <input
          class="form-control"
          type="text"
          name="state"
          placeholder="State.."
        />
      </div>
      <button id="form-button" class="cart-button-black" type="submit">
        Save Address
      </button>
    </div>
  </form>
  <img
    class="box-element-img-form"
    src="{% static 'images/mail-truck.svg' %}"
  />

  <!-- END OF FORM -->

  <!-- PAYMENT OPTIONS ---------------------------------------------------------->
  <section id="payment-info" class="hidden">
    <div class="left-payment-child" id="paypal-button-container"></div>
  </section>
  <!-- END OF PAYMENT OPTIONS ---------------------------------------------------------->
</div>

<!-- javascript -->
<!-- Paypal -->
<!-- Paypal API -->
<script src="https://www.paypal.com/sdk/js?client-id=AWQLLidcguyPsillx1mX6siiFmBlTpZOkE7qxy5vvzLb1jeoK4_DGKE9f27VEiwd5baRTgVkfXCMPK51&currency=EUR"></script>
<!-- end of Paypal API -->

<!-- Paypal Button -->
<script>
  var total = "{{ order.get_cart_total }}";

  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      style: {
        color: "blue",
        shape: "pill",
        label: "pay",
      },
      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: total,
              },
            },
          ],
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (details) {
          submitFormData();
        });
      },
    })
    .render("#paypal-button-container");
</script>
<!-- End of Paypal Button -->
<!-- End of Paypal -->
<script type="text/javascript">
  var shipping = "{{ order.shipping }}";

  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
    document.getElementById("digital-false").classList.add("current");
    document.getElementById("digital-true").classList.remove("current");
    document.getElementById("checkout-current").textContent =
      "Digital Product Payment";
    document.getElementById("user-info").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  }

  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = "";
    document.getElementById("digital-false").classList.add("current");
    document.getElementById("digital-true").classList.remove("current");
  }

  if (shipping == "False" && user != "AnonymousUser") {
    // Hide entire form if user is logged in and shipping is false
    document.getElementById("form-wrapper").classList.add("hidden");
    document.getElementById("digital-false").classList.remove("current");
    document.getElementById("digital-true").classList.add("current");
    // Show payment if logged in user wants to buy an item that does not
    // require shipping
    document.getElementById("payment-info").classList.remove("hidden");
  }

  var form = document.getElementById("form");

  csrftoken = form.getElementsByTagName("input")[0].value;
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("Form submitted 0%...");
    document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
    document.getElementById("form").classList.add("hidden");
    document.getElementById("checkout-current").textContent = "Select Payment";
    document.getElementById("digital-false").classList.remove("current");
    document.getElementById("digital-true").classList.add("current");
    console.log("...100% form submission completed");
  });

  function submitFormData() {
    console.log("Payment button clicked");

    var userFormData = {
      name: null,
      email: null,
      total: total,
    };

    var shippingInfo = {
      address: null,
      city: null,
      state: null,
      zipcode: null,
      country: null,
    };

    if (shipping != "False") {
      shippingInfo.address = form.address.value;
      shippingInfo.city = form.city.value;
      shippingInfo.state = form.state.value;
      shippingInfo.zipcode = form.zipcode.value;
      shippingInfo.country = form.zipcode.value;
    }

    if (user == "AnonymousUser") {
      userFormData.name = form.name.value;
      userFormData.email = form.email.value;
    }

    var url = "/processOrder/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
    })
      .then((response) => response.json())
      .then((response) => {
        console.log("Success:", response);
        alert("Transaction completed");

        cart = {};
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
        window.location.href = "{% url 'confirmed' %}";
      });
  }
</script>
<!-- javascript -->
{% endblock %}
