{% extends 'base.html' %} {% load static %} {% block body %}
<section class="contact-us-parent">
  <form class="form" action="POST">
    {% csrf_token %}
    <div class="contact-form-group">
      <h3>CONTACT US</h3>
      <p>
        Feel free to contact us any time. We will get back to you as soon as we
        can.
      </p>
    </div>

    <input
      type="text"
      class="contact-name"
      id="contact-name"
      placeholder="Name"
    />

    <input
      type="email"
      class="contact-email"
      id="contact-email"
      placeholder="Email"
    />

    <input
      type="message"
      class="contact-message"
      id="contact-message"
      placeholder="Enter your message"
    />

    <button type="submit" class="contact-btn">Send</button>
  </form>

  <div class="right-side-contact">
    <div class="contact-form-group">
      <div class="contact-detail">
        <ol>
          <li>
            <i class="fa-solid fa-location-dot"></i>Ambrosius Rozendaelstraat 45
          </li>
          <li><i class="fa-solid fa-phone"></i>06-88207830</li>
          <li><i class="fa-solid fa-envelope"></i>info@lukustore.nl</li>
        </ol>
      </div>
    </div>

    <div>
      <ol class="social-media">
        <li>
          <a href="https://www.instagram.com/lukustore.nl/"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </li>
        <li>
          <a href="https://www.tiktok.com/@lukustore.nl/"
            ><i class="fa-brands fa-tiktok"></i
          ></a>
        </li>
        <li>
          <a href="https://www.facebook.com/lukustore.nl/"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
        </li>
      </ol>
    </div>
  </div>
</section>
{% endblock %}
