{% extends 'base.html' %} {% block body %}

<section class="newsletter-page">
  <form id="newsletter" method="POST">
    {% csrf_token %}
    <h1>Lukustore Newsletter</h1>
    <p>
      Subscribe to recieve updates, access to exclusive deals, our newsletter
      and more.
    </p>
    <p>{{message}}</p>
    <input
      id="newsletter-email"
      class="newsletter-input"
      type="email"
      name="email"
      placeholder="Enter your email"
      required
    />
    <span
      ><input
        type="checkbox"
        id="myCheck"
        onclick="myFunctionHere()"
        required
        class="newsletter-checkbox"
      />
      I accept the <a href="/help/#termsOfService">Terms of Service</a> and
      <a href="/help/#privacyPolicy">Privacy Policy.</a>
    </span>
  </form>
</section>
{% endblock %}
