{% extends 'base.html' %} {% load static %} {% block body %}
<section class="signup-form">
  <article class="signup-left">
    <div>
      <h2>Create an Account</h2>
      <p style="font-size: 0.9rem">Start your journey with us.</p>
    </div>
    <form method="POST">
      {% csrf_token %}
      <input
        class=""
        type="text"
        id="user"
        name="user"
        placeholder="Username"
        required
      />

      <input
        class=""
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        password
      />

      <button type="submit">Log In</button>
    </form>
  </article>
  <article class="signup-right">
    <img src="{% static 'images/signup/takwa-bay-3-surf.png' %}" alt="" />
  </article>
</section>
{% endblock %}
